{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="/static/wedding/assets/heart.png">
    <script src="/static/wedding/js/main.js"></script>
    <link rel="stylesheet" href="/static/wedding/css/main.css">
    <title>Don Paleo y Doña Geek</title>
</head>
<body>
    <img src='/static/wedding/assets/backgound.jpg' alt="" id="background">
    <div id="date">
        <div id="fecha">23 de febrero 2019</div>
        <div id="mensaje">guarda  la  fecha</div>
    </div>
</body>
</html>